/* css reset */
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('fondo5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 250vh;
    
}
.form-register{
    width: 350px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 6px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px black;

}
.form-register h4 {
    font-size: 22px;
    margin-bottom: 22px;
}

.controls{
    width: 93%;
    background: white;
    padding: 6px;
    border-radius: 6px;
    margin-bottom: 8px;
    border: 4px solid rgb(50, 50, 255);
    font-family: 'calibri';
    font-size: 18px;
    color: black;
}

.form-register p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 0px;
}

.form-register a{
    color: white;
    text-decoration: none;
}

.form-register a:hover{
    color: white;
    text-decoration: underline;
}


.form-register .bottons{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: rgb(49, 49, 245);
    margin: 16px 0;
    font-size: 16px;
    
}

